<div class="jumbotron">
  <h1>Welcome to Action Cable Chat!</h1>
  <%if current_user%>
    <p>Welcome <%= current_user.name%></p>
  <%end%>
  <p><%= link_to "Sign Up", signup_path %> or <%= link_to "Log In", login_path %>, then create a room or chat in existing rooms.</p>
</div>
