<div class="row col-md-8 col-md-offset-2" id="room-title">
  <h1>Rooms</h1>
</div>

<div class="row col-md-8 col-md-offset-2" id="rooms">
  <%= render partial: 'room_form', locals: {room: @room} %>
  <div id="room-errors">
    
  </div>
    <ul id="room-index"> 
  <% if @rooms.any? %>
      <%= render @rooms%>
  <%else %>
    </ul>
    <p>Crete a room!</p>
  <% end %>
</div>
