// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room-form {
  margin: 5%;
  text-align: center;
}

#create-room {
  margin-top: 5%;
}

#room-index {
  list-style: none;
  font-size: 22px;
  padding-left: 0px;
}

#room-index > li {
  margin-left: 0px;
}

#rooms {
  text-align: center;
}

#room-title {
  text-align: center;
}

#hidden {
  display: none;
}
